#logo {
    color: #fff;
}

.bg-blue{
    background-color: #0081a1;
}

.link-menu {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.808);
    background-color: none;
}

.link-menu:hover {
    color: #fff;
    background-color: none;
}

.link-menu:active {
    color: #fff;
    background-color: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.lead{
    font-weight: 400 !important;
}

.container-side {
    width: 100%;
    height: 100%;
    background-color: #e9ecef;
}

.row {
    margin-right: 0px !important;
}

.sidebar {
    height: 100%;
}

.title-section {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 45px !important;
    margin-bottom: 0px !important;
    width: 100%;
}

.sidebar-content{
    margin-top:50px;
    padding-top: 20px;
    position: fixed !important;
    width:100% !important;
    height: 100%;
    z-index: 1;
    top:0;
    left:0;
}

.sidebar-element{
    padding-left: 0px !important;
    padding-right: 0px !important;
    left: 16.6%;
}

.title-content{
    font-size: 45px;
    font-weight: normal;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* Set the size of the div element that contains the map */

#map {
    height: 100%;
    /* The height is 400 pixels */
    margin-left: 10px;
    /* The width is the width of the web page */
}