#logo {
    color: #fff;
}

.head-btn{
    margin-left: 15px;
}

.link-menu {
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.808);
    background-color: none;
}

.link-menu:hover {
    color: #fff;
    background-color: none;
}

.link-menu:active {
    color: #fff;
    background-color: none;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: none;
}

html, body {
    height: 100%;
    width: 100%;
}

.container-side {
    width: 100%;
    height: 100%;
}

.row {
    margin-right: 0px !important;
}

.sidebar {
    height: 100%;
}

.title-section {
    margin-left: -15px !important;
    margin-right: -15px !important;
}


