<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="jumbotron jumbotron-fluid title-section">
        <div class="container">
            <h1 class="title-content">Capteurs</h1>
            <div class="row mt-4">
                <div class="container">
                    <table class="table table-striped">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Date/Heure dernière màj</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Voir</th>
                            <th scope="col">Éditer</th>
                            <th scope="col">Supprimer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Dès qu'on a récupéré les données de l'API -->
                        <!-- <tr th:each="capteur : ${capteurs}"> -->
                        <tr id="1-rowSensor" class="rowSensor">

                            <!--             				<div th:text="${capteur.id}"></div> -->
                            <!--             				<div th:text="${capteur.datas}"></div> -->

                            <th scope="row">1</th>
                            <td class="td-place">RU2</td>
                            <td class="td-update">12/12/19 10:10:29</td>
                            <td class="td-statut">Fonctionnel/Erreur</td>
                            <td class="td-show text-center">
                                <form action="#" th:action="@{/application}" th:object="${String}" method="post">
                                    <input type="hidden" name="select" th:value="capteur"/>
                                    <input type="hidden" name="sensorId" th:value="1" />
                                    <button class="btn btn-success" type="submit"><i class="fas fa-angle-right"></i></button>
                                </form>
                            </td>
                            <td class="td-modify text-center">
                                <a href="/sensor" class="btn btn-info"><i class="fas fa-edit"></i></a>
                            </td>
                            <td class="td-delete text-center">
                                <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        <tr id="2-rowSensor" class="rowSensor">
                            <th scope="row">2</th>
                            <td class="td-place">RU1</td>
                            <td class="td-update">12/12/19 10:10:39</td>
                            <td class="td-statut">Fonctionnel/Erreur</td>
                            <td class="td-show text-center">
                                <form action="#" th:action="@{/application}" th:object="${String}" method="post">
                                    <input type="hidden" name="select" th:value="capteur"/>
                                    <input type="hidden" name="sensorId" th:value="2" />
                                    <button class="btn btn-success" type="submit"><i class="fas fa-angle-right"></i></button>
                                </form>
                            </td>
                            <td class="td-modify text-center">
                                <a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
                            </td>
                            <td class="td-delete text-center">
                                <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
