<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content">
    <div class="jumbotron jumbotron-fluid title-section">
        <div class="container">
            <h1 class="title-content">Capteurs</h1>
            <div class="row mt-4">
                <div class="container text-center">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Emplacement</th>
                            <th scope="col">Niveau de Batterie</th>
                            <!--<th scope="col">Statut</th>-->
                            <th scope="col">Voir</th>
                            <!-- Edition et suppression en standby -->
                            <!--
                            <th scope="col">Éditer</th>
                            <th scope="col">Supprimer</th>
                             -->
                        </tr>
                        </thead>
                        <tbody>
                        
                        <div th:each="capteurData : ${capteursDatas}">
	                        <tr class="rowSensor">
	                            <td class="td-id" th:text="${capteurData.value.idSensor}"></td>
	                            <td class="td-name" th:text="${capteurData.key}"></td>
	                            <td class="td-location">RU2</td>
	                            <td class="td-battery" th:text="${capteurData.value.batteryLevel}"></td>
	                            <!-- <td class="td-statut">Fonctionnel</td> -->
	                            <td class="td-show text-center">
	                                <form action="#" th:action="@{/application}" th:object="${String}" method="post">
	                                    <input type="hidden" name="select" th:value="capteur"/>
	                                    <input type="hidden" name="sensorId" th:value="${capteurData.value.idSensor}" />
	                                    <button class="btn btn-success" type="submit"><i class="fas fa-angle-right"></i></button>
	                                </form>
	                            </td>
	                            <!-- Edition et suppression en standby -->
	                            <!--
	                            <td class="td-modify text-center">
	                                <a href="#" class="btn btn-info"><i class="fas fa-edit"></i></a>
	                            </td>
	                            <td class="td-delete text-center">
	                                <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
	                            </td>
	                             -->
	                        </tr>
	                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>