<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="content(listEvent)">
    <div class="jumbotron jumbotron-fluid title-section">
        <div class="container">
            <h1 class="title-content">Evenements</h1>
            <div class="content row mt-4">
                <form class="form-inline" action="#" th:action="@{/application}" th:object="${String}" method="post">
                    <div class="event-filter mt-4">
                        <div class="form-row align-items-center my-1">
                            <input type="hidden" name="select" th:value="evenements"/>
                            <label class="sr-only" for="eventName">Nom de l'évènement</label>
                            <div class="input-group mr-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                                </div>
                                <input type="text" class="form-control" name="eventName" id="eventName" placeholder="Lieu de l'évènement">
                            </div>
                            <select class="form-control mr-1" id="selectEventType" name="selectEventType">
                                <option selected disabled>Type</option>
                                <option th:each="eventType : ${eventTypeList}" th:text="${eventType.getName()}" th:value="${eventType.getName()}" class="optionEventType"></option>
                            </select>
                            <div class="form-group dateContainer mr-1">
                                <label for="fromDate" class="col-2 col-form-label labelDate">Du</label>
                                <input class="form-control" type="date" name="fromDate" id="fromDate">
                            </div>
                            <div class="form-group dateContainer mr-1">
                                <label for="toDate" class="col-2 col-form-label labelDate">Au</label>
                                <input class="form-control" type="date" name="toDate" id="toDate">
                            </div>
                            <select class="form-control mr-1" id="selectEventActive" name="selectEventActive">
                                <option selected disabled>État</option>
                                <option value="false">Fini</option>
                                <option value="true">En cours</option>
                            </select>
                            <div class="col-auto my-1">
                                <button type="submit" class="btn btn-primary">Rechercher</button>
                            </div>
                        </div>

                        <div th:if="${(eventName!=null and selectEventActive!=null and selectEventType!=null and fromDateFormatted!=null and toDateFormatted!=null)}" class="filteredEventAtt mt-3 mb-3">
                            <button th:if="${eventName!='' or selectEventActive!='' or selectEventType!='' or fromDateFormatted!='' or toDateFormatted!=''}" class="deleteFilterButton mr-2" type="submit"><i class="fas fa-times-circle"></i></button>
                            <span th:if="${eventName != ''}" class="filtered-att quote" th:text="${eventName}"></span>
                            <span th:if="${selectEventType != ''}" class="filtered-att" th:text="${selectEventType}"></span>
                            <span th:if="${fromDateFormatted != ''}" class="filtered-att" th:text="'À partir du : '+${fromDateFormatted}"></span>
                            <span th:if="${toDateFormatted != ''}" class="filtered-att" th:text="'Jusqu\'au : ' + ${toDateFormatted}"></span>
                            <span th:if="${selectEventActive == 'true'}" class="filtered-att">En cours</span>
                            <span th:if="${selectEventActive == 'false'}" class="filtered-att">Fini</span>
                        </div>
                    </div>
                </form>
                <table class="table table-striped mt-3">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Lieu</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date</th>
                        <th scope="col">Description</th>
                        <th scope="col" id="eventActif">État</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${listEvent}">
                        <td th:text="${event.getId()}"> </td>
                        <td th:text="${event.getArea() != null} ? ${event.getArea().getName()} : ${event.getArea()} "> X </td>
                        <td th:text="${event.getEventType().getName()}"> X </td>
                        <td th:text="${event.getDate()}"> X </td>
                        <td th:text="${event.getDescription()}"> X </td>
                        <span th:if="${event.isActive()}">
                            <td style="color : green"> En cours </td>
                        </span>
                        <span th:unless="${event.isActive()}">
                            <td style="color : red"> Fini </td>
                        </span>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
