<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, minimum-scale=0.25"/>
    <meta name="viewport" content="width=device-width, maximum-scale=5.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Connexion</title>
    <meta name="description" content="Connexion"/>
    <link rel="icon" href="#" />
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container py-5">
    <div th:if="${error}" class="alert alert-success" role="alert">
        Une erreur s'est produite !
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <ul class="list-group">
                <form action="#" th:action="@{/connexion}" th:object="${User}" method="post">
                    <div class="col-12">
                        <div class="py-5">
                            <h1>Connexion</h1>
                        </div>
                        <div class="form-group">
                            <label for="email"><b>Adresse mail</b></label>
                            <input type="text" th:field="*{email}" class="form-control" id="email"/>
                        </div>
                        <div class="form-group">
                            <label for="password"><b>Mot de passe</b></label>
                            <input type="password" th:field="*{password}" class="form-control" id="password"/>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Connexion"/>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</div>

</body>
</html>